SFE/SFEDebug.log
SFE/sfe.log
Logs/FinalReleaseLogger/Client_FinalReleaseLog.*.log
LoadingScreenInstaller/config.json
f1dc8290818d4040bb19bc0b24e2b8b2/Project76/LocalAccountState.bgs
f1dc8290818d4040bb19bc0b24e2b8b2/Project76/LocalAccountState.bgs
LoadingScreenInstaller/config.json
